@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import "tailwindcss";

/* Smooth scroll */
html {
  scroll-behavior: smooth;
}

/* Body alap */
body {
  background-color: #f8f4f0;
  /* bg-secondary hex direkt */
  color: #1c1c1c;
  /* primary */
  font-family: 'Courier New', Courier, monospace;
  scroll-behavior: smooth;
}

/* Headline */
/* Címek kézírásos fonttal */
h1,
h2 {
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 1.2px;
}

/* Link hover */
a {
  color: #1c1c1c;
  text-decoration: none;
  transition: color 0.4s;
}

a:hover {
  color: #e5d3b3;
}

/* Button */
button {
  background-color: #e5d3b3;
  color: #1c1c1c;
  padding: 0.75rem 1.5rem;
  border-radius: 1rem;
  font-weight: 600;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
  transition: all 0.4s;
}

button:hover {
  background-color: #c19f7f;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);
}

/* Card */
.card {
  background-color: white;
  padding: 1.5rem;
  border-radius: 1rem;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
  transition: transform 0.4s, box-shadow 0.4s;
}

.card:hover {
  transform: scale(1.03);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);
}

/* Section alap padding */
section {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

/* Inputs */
input,
textarea,
select {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #d1d5db;
  border-radius: 1rem;
  outline: none;
  transition: all 0.4s;
}

input:focus,
textarea:focus,
select:focus {
  border-color: #e5d3b3;
  box-shadow: 0 0 0 3px rgba(229, 211, 179, 0.4);
}

textarea {
  resize: none;
}